{% extends "base.html.twig" %}
{% block title %} Ajouter un article  {% endblock %}
{% block body %}
<h4 >Ajouter un Article</h4>
<hr class="line">
{% if response %}
    <div class="alert alert-success" role="alert">
        {{ response }}
    </div>
{% endif %}
    {{ form_start(form) }}

    <div class="form-group">
        <div class="row">
            <div class="left">
                {{ form_row(form.Ref, {'attr':{'placeholder':'Ref','class':'form-control'},'label':false,'errors':false}) }}</div>
            {{ form_row(form.libelle,{'attr':{'placeholder':'Libellé','class':'form-control'},'label':false}) }}
        </div>
        <div class="row">
            <div class="left">{{ form_row(form.description, {'attr':{'placeholder':'Description ','class':'form-control reg'},'label':false}) }}</div>
            {{ form_row(form.prix_achat, {'attr':{'placeholder':'Prix d\'achat','class':'form-control'},'label':false,'errors':false}) }}
        </div>
        <div class="row">
            <div class="left">{{ form_row(form.prix_vente,{'attr':{'placeholder':'Prix de vente','class':'form-control'},'label':false,'errors':false}) }}</div>
            {{ form_row(form.qte,{'attr':{'placeholder':'La quantité','class':'form-control'},'label':false,'errors':false}) }}
        </div>
    </div>
{% if form_errors(form.prix_achat) or form_errors(form.prix_vente) or form_errors(form.qte)  or form_errors(form.Ref)  %}
    <div class="alert alert-danger" role="alert">
        {{ form_errors(form.prix_achat,{'attr':{'class':'errors'}}) }}
        {{ form_errors(form.prix_vente,{'attr':{'class':'errors'}})}}
        {{ form_errors(form.qte,{'attr':{'class':'errors'}})}}
        {{ form_errors(form.Ref,{'attr':{'class':'errors'}})}}
    </div>
{% endif %}

    <button type="submit" class="bouton-register" >Ajouter    <i class="fa-solid fa-plus"></i></button>

    {{ form_end(form) }}
{% endblock %}