{% extends "base.html.twig" %}
{% block title %} Changer le mot de passe  {% endblock %}
{% block body %}
<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col">
            <div class="card shadow">

                <div class="card-body">
                    <div class="border rounded d-flex justify-content-center align-items-center mb-4" style="height: 50px;">
                        <h4>Changer votre mot de passe <i class="fa-solid fa-key"></i></h4>
                    </div>
                    {{ form_start(form) }}

                        <div class="form-row">
                            <div class="pass">
                                {{ form_row(form.oldPassword,{'attr':{'placeholder':'Mot de passe Actuel','class':'form-control'},'label':false,'errors':false}) }}
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="pass">
                                {{ form_row(form.password,{'attr':{'placeholder':'Nouveau mot de passe','class':'form-control'},'label':false,'errors':false}) }}
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="pass">
                                {{ form_row(form.confirm,{'attr':{'placeholder':'Confirmer le nouveau mot de passe','class':'form-control'},'label':false,'errors':false}) }}
                            </div>

                        </div>


                        <div class="form-row">
                            {% if form_errors(form.oldPassword) or form_errors(form.password) or form_errors(form.confirm)   %}
                                <div style="color:red;margin-left:700px;" >
                                    {{ form_errors(form.oldPassword,{'attr':{'class':'errors'}}) }}
                                    {{ form_errors(form.password,{'attr':{'class':'errors'}})}}
                                    {{ form_errors(form.confirm,{'attr':{'class':'errors'}})}}
                                </div>
                            {% endif %}
                            {% if success %}
                                <div class="response">
                                    <b>{{ success }}</b>    <i class="fa-solid fa-circle-check"></i>
                                </div>
                            {% endif %}


                            <div class="col d-flex d-xl-flex justify-content-center align-items-end" >

                                <button class="button-update" type="submit">Enregister</button>

                            </div>



                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}